/*-- scss:defaults --*/
$upcolour: #8a1538;

/*-- scss:rules --*/
h1 {
    color: black;
}

.navbar {
    background-color: $upcolour !important;
}

.navbar-title {
    font-weight: 700;
    color: black;
}

.menu-text {
    font-weight: 600;
    color: black;
}

.navbar-logo {
position: relative;
top: 0px;
left: -5px;
}