/*-- scss:defaults --*/
$upcolour: #8a1538;

/*-- scss:rules --*/
.navbar-title {
    font-weight: 700;
}

.menu-text {
    font-weight: 600;
}

.navbar-logo {
position: relative;
top: 0px;
left: -5px;
}